main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: calc(100% - var(--aside-width) - 60px);
    margin-left: var(--aside-width);
    margin-top: var(--header-height);
    padding: 40px 30px;
}

#content section {
    width: 100%;
}

section.greet p:first-child {
    font-size: 36px;
    margin: 0;
    font-weight: 500;
}

section.greet p span {
    color: #FF0101;
}

section.greet p:last-child {
    font-size: 16px;
    margin-top: 30px 0 0 0;
    font-weight: 500;
}

section.stats {
    margin-top: 40px;
    display: flex;
    gap: 30px;
}

section.stats .activity {
    width: 75%;
}

section.stats .nutrition-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}

.daily-activities {
    aspect-ratio: 835/320;
    background-color: rgb(251, 251, 251);
    border-radius: 5px;
    position: relative;
}

h3.subtitle {
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
}

.activity-card-container {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.card-graph {
    width: calc(33.3% - 10px);
    aspect-ratio: 1;
    border-radius: 5px;
    position: relative;
}

.line-chart {
    background-color: rgb(255, 0, 0);
}

.radar-chart {
    background-color: rgb(40, 45, 48);
}

.radial-chart {
    background-color: rgb(251, 251, 251);
 
}

.line-chart > h3 {
    color: rgba(255, 255, 255, .5);
}

@media (min-width: 1400px) {
    section.greet p:first-child {
        font-size: 48px;
    }
    section.greet p:last-child {
        font-size: 18px;
        margin-top: 30px 0 0 0;
    }
    #content {
        width: calc(100% - 120px - 200px);
        margin-left: var(--aside-width);
        margin-top: var(--header-height);
        padding: 50px 100px;
    }
    section.stats {
        margin-top: 60px;
        gap: 60px;
    }
    section.stats .nutrition-container {
        width: 25%;
        gap: 40px;
    }
    h3.subtitle {
        font-size: 20px;
        padding: 0 30px;
    }
    .activity-card-container {
        gap: 30px;
    }
    .card-graph {
        width: calc(33.3% - 20px);
    }
  }