:root {
  --header-height: 70px;
  --aside-width : 80px;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1400px) {
  :root {
    --header-height: 90px;
    --aside-width : 120px;
  }
}